.ant-form-item.content {
  .ant-form-item-label {
    visibility: hidden;
  }
}
.operation a {
  padding-right: 10px;
}
.buttons {
  margin-bottom: 20px;
}
.h32 .ant-form-item-control {
  height: 32px;
}